fastapi
uvicorn[standard]
sqlalchemy
pydantic
playwright
jinja2
python-multipart
requests
aiofiles
cryptography
selenium
undetected-chromedriver
setuptools
curl_cffi
dependency-injector
pyjwt
pytest
pytest-asyncio
pytest-cov
pytest-mock
httpx
